<ion-view class="bg-two timeline">
	<div class="has-header">
		<h1 class="title">HISTORIAL</h1>
		<p class="title" ng-hide="timeline.length">Consulta aquí tu actividad de los últimos días.</p>
	</div>
	<ion-content class="has-title">
		<ion-list class="timeline-list">
			<ion-item ng-repeat="item in timeline">				
				<span class="timeline-date">{{ item.date }}</span>
				<div class="timeline-bars">
					<div class="timeline-bar">
						<span>Baile</span>
						<div class="timeline-dance" style="width: {{ item.dance }}%;"></div>
						<span class="timeline-percent-details">{{ item.dance }}%</span>
					</div>
					<div class="timeline-bar">
						<span>Música</span>
						<div class="timeline-music" style="width: {{ item.music }}%;"></div>
						<span class="timeline-percent-details">{{ item.music }}%</span>
					</div>
				</div>
				<div class="timeline-meter">
				<div class="total">{{ item.total }} <span class="pt">pt</span></div>
				<div class="dia">por día</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
	<a class="ranking-share" ng-click="share()">
		<img src="img/btn-share.png">
	</a>
</ion-view>