<ion-view class="bg-one tutorial">
	<ion-slide-box on-slide-changed="slideHasChanged($index)" >
		<ion-slide>
			<p class="tutorial-title">Bienvenido a</p>
			<div class="tutorial-image">
				<img src="img/slide-1.png">
			</div>
			<p class="tutorial-text" ng-bind-html="steps[0].text"></p>
		</ion-slide>
		<ion-slide>
			<p class="tutorial-title">Paso 1.</p>
			<div class="tutorial-image">
				<img src="img/slide-2.png">
			</div>
			<p class="tutorial-text" ng-bind-html="steps[1].text"></p>
		</ion-slide>
		<ion-slide>
			<p class="tutorial-title">Paso 2.</p>
			<div class="tutorial-image">
				<img src="img/slide-3.png">
			</div>
			<p class="tutorial-text" ng-bind-html="steps[2].text"></p>
		</ion-slide>
		<ion-slide>
			<p class="tutorial-title">Paso 3.</p>
			<div class="tutorial-image">
				<img src="img/slide-4.png">
			</div>
			<p class="tutorial-text" ng-bind-html="steps[3].text"></p>
		</ion-slide>
		<ion-slide-pager></ion-slide-pager>
	</ion-slide-box>
	<p class="tutorial-guide" ng-bind-html="guide" >{{ guide }}</p>
</ion-view>