<ion-view class="bg-one tutorial">
	<ion-slide-box on-slide-changed="slideHasChanged($index)" >
		<ion-slide>
			<p class="tutorial-title">Bienvenido a</p>
			<div class="tutorial-image">
				<img src="img/slide-1.png">
			</div>
			<p class="tutorial-text">La app de <strong>Coolway</strong> es una app increíble <br> que mide tu nivel de diversión<br> y el de tus amigos. Podrás compartirlo<br> y ganar muchos <strong>premios</strong></p>
		</ion-slide>
		<ion-slide>
			<p class="tutorial-title">Paso 1.</p>
			<div class="tutorial-image">
				<img src="img/slide-2.png">
			</div>
			<p class="tutorial-text"><strong>BAILA, SALTA, GRITA</strong><br><br> Lo que sea pero... ¡NO PARES! <br> Medimos tu actividad y la <br> convertimos en puntos. <br></p>
		</ion-slide>
		<ion-slide>
			<p class="tutorial-title">Paso 2.</p>
			<div class="tutorial-image">
				<img src="img/slide-3.png">
			</div>
			<p class="tutorial-text"><strong>COMPARTE</strong><br><br> Comparte en redes sociales y<br> gana puntos extras.<br></p>
		</ion-slide>
		<ion-slide>
			<p class="tutorial-title">Paso 3.</p>
			<div class="tutorial-image">
				<img src="img/slide-4.png">
			</div>
			<p class="tutorial-text"><strong>¡VETE DE VIAJE</strong><br><br> Acumula <strong>puntos</strong> y gana<br> un <strong>viaje para dos personas</strong><br> a <strong>Coachella</strong>, ¡todo incluido!<br> (Y muchos premios más...) <br></p>
		</ion-slide>
		<ion-slide-pager></ion-slide-pager>
	</ion-slide-box>
	<p class="tutorial-guide" ng-bind-html="guide" >{{ guide }}</p>
</ion-view>