

<table class="table table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Festival</th>
            <td>{{ entity.feast }}</td>
        </tr>
        <tr>
            <th>Escenario</th>
            <td>{{ entity.stage }}</td>
        </tr>

    </tbody>
</table>