{%extends "::dashboardBase.html.twig"%}
{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{path("admin_dashboard")}}">Inicio</a>
            </li>
        </ul>
    </div>
{%endblock %}
{%block inline_script%}
    {{parent()}}
{%endblock%}