.gm_f_r {
    float: right;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 8px;
}
.gm_f_lw {
    float: left;
    width: 95%;
}
.date_w_default {
    width: 60px;
    padding-top: 20px;
}
.time_w_default {
    width: 60px;
    display: inline;
}
.time_w_default select {
    width: 80px;
    display: inline;
}